<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/details.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./header')%>
    <main>
        <div id="all">
            <ul id="choose">
                <% product.forEach(product => { %>
                <li data-id="<%= product.id %>" id="li">
                    <div><img src="<%= product.image_link %>"></div>
                    <div>Product name:<%= product.name %></div>
                    <div>Brand:<%= product.brand %></div>
                    <div>Category:<%= product.category %></div>
                    <div> <%=product.price%></div>
                    <div>description:<%=product.description%></div>
                    <div><a href="<%=product.product_link%>"> Product Info</a></div>
                    <div><a href="<%=product.website_link%>">Website Link</a></div>
                    <div id="fl">
                        <div>
                            <form action="/update" method="post">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <input type="hidden" name="name" value="<%= product.name %>">
                                <input type="hidden" name="image_link" value="<%= product.image_link %>">
                                <input type="hidden" name="brand" value="<%= product.brand %>">
                                <input type="hidden" name="category" value="<%= product.category %>">
                                <input type="hidden" name="price" value="<%= product.price %>">
                                <input type="hidden" name="description" value="<%=product.description%>">
                                <input type="hidden" name="product_link" value="<%=product.product_link%>">
                                <button id="button"> update</button>
                            </form>
                        </div>
                        <form action="/delete/<%= product.id %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button id="button" type="submit">Delete</button>
                        </form>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
    </main>
    <%- include('./footer')%>

</body>

</html>